
.RData
.Rhistory
.Rproj.user/A08C7F77/pcs/files-pane.pper
*.pper
.Rproj.user/A08C7F77/rmd-outputs
*.Rproj
.Rproj.user/A08C7F77/sdb/s-758DD87A/5F6DDEBE
.Rproj.user/A08C7F77/sdb/s-758DD87A/47FCC54F
.Rproj.user/A08C7F77/sdb/prop/INDEX
.Rproj.user/A08C7F77/saved_source_markers
.Rproj.user/A08C7F77/sdb/prop/2F2C72BA
.Rproj.user/A08C7F77/sdb/prop/553BAB1E
.Rproj.user/A08C7F77/sdb/prop/C3064548
.Rproj.user/A08C7F77/sdb/s-758DD87A/64B08F6B
.Rproj.user/A08C7F77/sdb/s-758DD87A/8A2A52BB
.Rproj.user/A08C7F77/sdb/s-758DD87A/69241901
.Rproj.user/A08C7F77/sdb/s-758DD87A/B49918AF
.Rproj.user/A08C7F77/sdb/s-758DD87A/lock_file
.Rproj.user
